/*#panier{
    border-collapse: collapse;;
}
#panier th,#panier td{
    border : solid 2px black;
    padding: 0.5rem;
}*/
body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #c8ad7f;
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
}
.logo{
    box-sizing: border-box;
    height: 100%;
}
.logo img{
    border-radius: 2rem 2rem;
}
/*Menu de navigation*/

.navigation{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: right;
}
.navigation ul{
    position: relative;
    top: -4rem;
    left:-3rem;
    display: flex;
    padding: 0;
    flex-flow: row nowrap;
    align-items: center;
}
.navigation ul li{
    font-size: 1.5rem;
    list-style: none;
    margin-left: 1rem;
}

h1{
    position: relative;
    top:-5rem;
}

#messagePanierVide{
    position: relative;
    top:-5rem;
    font-size: 2rem;
    font-style: italic;
}
/*Mise en forme des éléments de la page Panier*/

#panier{
    position: relative;
    top:-6rem;
}
#supprimer{
    position: relative;
    top:-6rem;
}
#montantPanier{
    position: relative;
    top:-6rem;
}

/*Mise en pforme du tableau récapitulant le panier*/
table{
    border-spacing: 0;
    width: 39rem;
    table-layout: fixed;
}
.colonneChoix{
    width: 4rem;
}
.colonneRef{
    width: 13rem;
}
.colonneProduit{
    width: 8rem;
}
.colonnePrix{
    width: 4rem;
}
.colonneQuantite{
    width: 5rem;
}
.colonneMontant{
    width: 5rem;
}
.panier{
    border: solid #ccc 1px;
    border-radius: 1.25rem;
    box-shadow: 0 3px 3px #ccc;
}
.panier td, .panier th{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0.6rem;
    text-align: left;
}
.panier th{
    background-color: #dce9f9;
    background-image: linear-gradient(top,#ebf3fc,#dce9f9);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
    border-top : none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.panier th:first-child, .panier th:last-child{
    border: none;
}
.panier th:first-child{
    border-radius: 1.25rem 0 0 0;
}
.panier th:last-child{
    border-radius: 0 1.25rem 0 0;
}
.panier tr:last-child td:first-child{
    border-radius: 0 0 0 1.25rem;
}
.panier tr:last-child td:last-child{
    border-radius: 0 0 1.25rem 0;
}


/*Formulaire de contact*/
#formulaireContact{
    position: relative;
    top:-5rem;
    margin: 1rem;
    border: 2px solid black;
    padding : 1rem;
    border-radius: 2rem 2rem;
}