body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #c8ad7f;
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
}
.logo{
    box-sizing: border-box;
    height: 100%;
}
.logo img{
    border-radius: 2rem 2rem;
}
/*Menu de navigation*/

.navigation{
    box-sizing: border-box;
    height: 100%;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: right;
}
.navigation ul{
    position: relative;
    top: -4rem;
    left:-3rem;
    display: flex;
    padding: 0;
    flex-flow: row nowrap;
    align-items: center;
}
.navigation ul li{
    font-size: 1.5rem;
    list-style: none;
    margin-left: 1rem;
}
.navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.navigation ul li .accueil::before{
    content: url('Maison.png');
    position: relative;
    top: 0.8rem;
    left: -0.2rem;
}

/*Mise en forme des éléments de la page Panier*/

h1{
    position: relative;
    top:-8rem;
    font-size: 3rem;
}
.messagePanierVide{
    position: relative;
    top:-5rem;
    font-size: 2rem;
    font-style: italic;
}
.boutonSupprimer{
    position: relative;
    top:-15.5rem;
    left: -14rem;
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 1rem 1rem;
}
.montantPanier{
    position: relative;
    top:-12rem;
    right: -14rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/*Mise en pforme du tableau récapitulant le panier*/
.tableauPanier{
    position: relative;
    top: -12rem;
    border-spacing: 0;
    width: 39rem;
    table-layout: fixed;
}
.colonneChoix{
    width: 4rem;
}
.colonneRef{
    width: 13rem;
}
.colonneProduit{
    width: 8rem;
}
.colonnePrix{
    width: 4rem;
}
.colonneQuantite{
    width: 5rem;
}
.colonneMontant{
    width: 5rem;
}
.tableauPanier{
    border: solid #ccc 1px;
    border-radius: 1.25rem;
    box-shadow: 0 3px 3px #ccc;
}
.tableauPanier input[type='checkbox']{
    scale: 1.8;
    position: relative;
    left: 0.7rem;
    background-color: red;
}
.tableauPanier td, .tableauPanier th{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0.6rem;
    text-align: left;
}
.tableauPanier th{
    background-color: #dce9f9;
    background-image: linear-gradient(top,#ebf3fc,#dce9f9);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
    border-top : none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.tableauPanier th:first-child, .tableauPanier th:last-child{
    border: none;
}
.tableauPanier th:first-child{
    border-radius: 1.25rem 0 0 0;
}
.tableauPanier th:last-child{
    border-radius: 0 1.25rem 0 0;
}
.tableauPanier tr:last-child td:first-child{
    border-radius: 0 0 0 1.25rem;
}
.tableauPanier tr:last-child td:last-child{
    border-radius: 0 0 1.25rem 0;
}

/*Formulaire de contact*/
.formulaire{
    position: relative;
    width: 32rem;
    top:-15rem;
    margin: 1rem;
    padding-bottom: 0;
    border: 2px solid black;
    padding : 1rem;
    border-radius: 2rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.champFormulaire{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0.25rem;
}
.champFormulaire input{
    width: 15rem;
}
.boutonFormulaire{
    width: 10rem;
    height: 3rem;
    margin-top: 1rem ;
    margin-bottom: 0;
    margin-left: 11rem;
    font-size: 1.4rem;
    border-radius: 1.5rem;
}